airvisual_apikey: REDACTED
alpha_vantage_apikey: REDACTED
coinbase_apikey: REDACTED
coinbase_apisecret: REDACTED
darksky_apikey: REDACTED
db_url: mysql://REDACTED:REDACTED@localhost/homeassistant?charset=utf8
google_assistant_project: REDACTED
google_assistant_apikey: REDACTED
google_maps_username: REDACTED
google_maps_password: REDACTED
legacy_api_password: REDACTED
mqtt_username: REDACTED
mqtt_password: REDACTED
openuv_apikey: REDACTED
unifi_username: REDACTED
unifi_password: REDACTED
zwave_network_key: "REDACTED"
